on init
	write /dev/stune/top-app/schedtune.colocate 0

# Set default schedTune value for foreground/top-app at init
	write /dev/stune/foreground/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.boost 10
	write /dev/stune/top-app/schedtune.prefer_idle 1


on post-fs
# Disable sched autogroup
    write /proc/sys/kernel/sched_autogroup_enabled 0 

on post-fs-data
# Tune Core_CTL for proper task placement
	write /sys/devices/system/cpu/cpu0/core_ctl/enable 0
	write /sys/devices/system/cpu/cpu4/core_ctl/enable 0
	write /sys/devices/system/cpu/cpu7/core_ctl/enable 0

on property:sys.post_boot.parsed=1
    setprop vendor.post_boot.parsed 1

on property:vendor.post_boot.parsed=1
    exec u:r:magisk:s0 root root -- /sbin/init.sov.sh
